<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find-a-Pet</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Road+Rage&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/94935f4393.js"></script>
  <link rel="stylesheet" href="../../public/assets/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Find-A-Pet
    </h1>
    <div id="buttons">
    <button> Sign Up </button>
    <button> Log In </button>
    </div>
  </header>
  <main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>
      <a href="www.twitter.com"><i class="bi bi-twitter"></i></a>
      <a href="www.instagram.com"><i class="bi bi-instagram"></i></a>
      <a href="mailto:gmail@hotmail.com" ><i class="bi bi-envelope-heart"></i></a>
  </footer>
</body>

</html>
