{{!-- login and signup handlebars --}}
<div>
<div id = "form-container" class="row d-flex justify-content-evenly">
  <div class="col-md-6">
    <form  class="form login-form d-flex justify-content-evenly flex-column align-items-stretch">
    <h2>Login</h2> 
    <br>
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" placeholder="catgirl123@hotmail.com" />
      </div>
      <br>
      <div class="form-group">
        <label for="password-login" placeholder="*********">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>
<br>
    <form class="form signup-form d-flex justify-content-evenly flex-column">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" placeholder="John Smith" />
      </div>
      <br>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" placeholder="iheartdogs@gmail.com" />
      </div>
      <br>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" placeholder="Must contain 9 characters" />
      </div>
      <br>
       <div class="form-group">
        <label for="phone-signup">Phone:</label>
        <input class="form-input" type="text" id="phone-signup" placeholder="" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
