{{!-- handlebar for when we log in --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a new pet:</h3>

    <form class="form new-pet-form">
        <div class="form-group">
            <label for="pet-name">Pet name:</label>
            <input class="form-input" type="text" id="pet-name" name="pet-name" />
        </div>
    
        <div class="form-group">
            <label for="pet-species">Species:</label>
            <input class="form-input" type="text" id="pet-species" name="pet-species" />
        </div>

        <div class="form-group">
            <label for="pet-breed">Breed:</label>
            <input class="form-input" type="text" id="pet-breed" name="pet-breed" />
        </div>
        
       <div class="form-group">
            <label for="pet-age">Age:</label>
            <input class="form-input" type="text" id="pet-age" name="pet-age" />
        </div> 
{{!-- 
        <div class="form-group">
            <label for="pet-desc">Description:</label>
            <textarea class="form-input" id="pet-desc" name="pet-desc"></textarea>
        </div>
           
        <div class="form-group">
            <label for="pet-url">Photo (please enter url):</label>
            <textarea class="form-input" id="pet-url" name="pet-url"></textarea>
        </div> --}}
    
     
   <div class="form-group">
    <label for="female"> F </label>
    <input type="checkbox" id="female" name="qualities">
    </div>
     <div class="form-group">
    <label for="male"> M </label>
    <input type="checkbox" id="male" name="qualities">
    </div>
   
   {{!-- <div class="form-group">
     <label for="vaccinations"> Vaccinated </label>
    <input type="checkbox" id="vaccinations" name="vaccinations">
    </div>
     <div class="form-group">
    <label for="microchipped"> Microchipped </label>
    <input type="checkbox" id="microchipped" name="microchipped">
    </div>
     <div class="form-group">
     <label for="desexed"> Desexed </label>
    <input type="checkbox" id="desexed" name="desexed">
    </div>
    </form>
    </div>
    </div> --}}

        <div class="form-group">
            <button id="submit-pet" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>
{{!-- we can cancel pets that we posted before --}}
  {{#if pets.length}}
  <div class="col-md-6 project-list">
    <h3>Current Pets:</h3>

    {{#each pets as |pet|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/pet/{{pet.id}}">{{name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button  class="btn btn-sm btn-danger delete-pet" data-id="{{pet.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>

