{{!-- handlebar for when we log in --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="container d-flex flex-row justify-content-evenly">
  <div class="row mt-4">
    <div>
      <h3>Add a new pet:</h3>

      <form class="container form new-pet-form row">

        <div class="form-group col col-md-auto">
          <label class="fs-5" for="pet-name">Pet name: </label> <br>
          <label class="fs-5" for="pet-species">Species:</label><br>
          <label class="fs-5" for="pet-breed">Breed:</label><br>
          <label class="fs-5" for="pet-age">Age:</label><br>
          <label class="fs-5" for="pet-sex">Gender:</label><br>
          <label class="fs-5" for="pet-desc">Description:</label>


        </div>

        <div class="form-group col col-md-auto">
          <input class="form-input rounded " type="text" id="pet-name" name="pet-name" placeholder="e.g. Bruno" /> <br>
          <input class="form-input rounded" type="text" id="pet-species" name="pet-species"
            placeholder="e.g. Dog" /><br>
          <input class="form-input rounded" type="text" id="pet-breed" name="pet-breed"
            placeholder="e.g. Labrador" /><br>
          <input class="form-input rounded" type="text" id="pet-age" name="pet-age" placeholder="e.g. 2" /><br>
          <input class="form-input rounded" id="pet-sex" name="pet-sex" placeholder="Male / Female"></input><br>
          <textarea class="form-input w-100 rounded" id="pet-desc" name="pet-desc"
            placeholder="Provide a short description"></textarea><br>

        </div>


        <div class="form-group">
          <button id="submit-pet" type="submit" class="btn btn-primary w-50 start-0">Submit</button>
        </div>
      </form>
    </div>
  </div>


  {{!-- we can cancel pets that we posted before --}}
  {{#if pets.length}}
  <div class="col-md-6 project-list">
    <br>
    <h3>Current Pets:</h3>

    {{#each pets as |pet|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4 class="pet-name-add"><a href="/pet/{{pet.id}}">{{name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete-pet" data-id="{{pet.id}}">DELETE <i
            class="bi bi-trash"></i></button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>