body {
   background-color: #6fc8de;


}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Road Rage', cursive;
    text-align: center;
    font-size: 80px;
}

footer {
    margin-top: 20px;
    height: 100px;
    text-align: center;
    color: black; 
}

#contact-admin {
    margin-top: 20px;
}

#pet-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#pet-cards {
  max-width: 100%;
  min-width: 300px;
}

#pet-search {
    display: flex;
    align-items: center;
    flex-direction: column;

}